<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Http" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="Tcp" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost/Design_Time_Addresses/WcfCalculadora/Service1/"
                binding="netTcpBinding" bindingConfiguration="Tcp" contract="ServiceReference.IService1"
                name="Tcp">
               
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfCalculadora/Service1/"
                binding="basicHttpBinding" bindingConfiguration="Http" contract="ServiceReference.IService1"
                name="Http" />
        </client>
    </system.serviceModel>
</configuration>